

.container__header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-around
}



.header__link {
    text-decoration: none;
    color: var(--cinza);
    margin-right: 1.5em;
}


.container__buttons button {
    background-color: none;
    border: none;
    border-radius: 0.5rem;
    color: var(--cinza);
    padding: 0.8em 1.2em;
    cursor: pointer;
}

#button {
    background-color: var(--vermelho);
    border: 0;
    border-radius: 8px;
    color: var(--branco);
    padding: 0.8em 1.2em;
}